*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
nav{
    width:100%;
    height: 100px;
    background-color: rgb(36, 37, 80);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding:15px 100px; 
    position: fixed;
    z-index: 99;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
}
#buttonnav{
    display: none;
    background-color: rgb(36, 37, 80);
}

.navbar{
    display: flex;
    justify-content: flex-end;   
    gap: 45px;
}
nav .navbar a{
    text-decoration: none;
    color: aliceblue;
}
.personpic{
    width: 82px;
    border-radius: 50% ;
}
img{
    width: 20px;    
}
.hero{
    min-width: 300px;
    color: aliceblue;
    height: 100vb;
    background-color: rgb(15, 155, 101);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.hero h1{
    font-size: 60px;
}
.parent{
    width: 158px;
    height: 150px;
    background-color:rgb(36, 37, 80) ;
    border-radius: 50%;
    position: relative;
}
.child img{
    width: 172px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-92px, -220px);
}
.star{
    display: flex;
    align-items: center;
}
.blackstar{
    color: black;
    display: flex;
    align-items: center;
}
 #icon{
    color: aliceblue;
    height: 50px;
 }
 span{
    font-size: 30px;
 }
 h2{
    margin: 20px;
    font-size: 30px;
}
.photo1{
    width: 300px;
    height: 150px;
    background-color: brown;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .photo2{
    width: 300px;
    height: 150px;
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .photo3{
    width: 300px;
    height: 150px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .photo4{
    width: 300px;
    height: 150px;
    background-color: rgb(109, 109, 180);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .photo5{
    width: 300px;
    height: 150px;
    background-color: blue;  
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .photo6{
    width: 300px;
    height: 150px;
    background-color: rgb(182, 136, 83);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .photos{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}
 #photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
 }
 #iconblack{
    color: black;
    height: 50px;

 }
 #iconblack1{
    color: black;
    height: 50px;
 }
 .img{
    width: 150px;
    height: 130px;
    border-radius: 50%;
 }
 #about{
    color: aliceblue;
    background-color: rgb(15, 155, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
 }
 .mainabout{
    display: flex;
    padding: 50px;
    gap: 50px;
 }
 .about{
    max-width: 400px;
}
#button{
    background-color: rgb(15, 155, 101);
    color: aliceblue;
    padding: 15px 25px 15px 15px;
    border-radius: 7px;
}
button{
    border: 1px solid white;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.input{
    width: 300px;
    height: 30px;
}
button{
    background-color:rgb(15, 155, 101) ;
    padding: 15px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
#download{
    padding: 0 10px;
}
.mainfooter{
    display: flex;
    background-color:rgb(27, 27, 39);
    color: aliceblue;
    justify-content: space-evenly;
    padding: 15px 20px;
}
.footer{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
}
@media screen and (max-width:992px) {
    nav #buttonnav{
        display: block;
        background-color:rgb(36, 37, 80) ;
    }
    nav .navbar{
        display: none;
    }
    nav{
        padding: 15px 20px;
    }
    h1{
        font-size: 20px;
    }
    .hero h1{
        font-size: 35px;
    }
    .footer h3{
        font-size: 10px;
    }
    .footer p{
        font-size: 6px;
    }
    .footer{
        width: 100px;
    }
}